<div class="start-container">
  <button mat-raised-button color="primary" (click)="startGame()" *ngIf="!startScanning">
    Bắt đầu chơi
  </button>

  <!-- <button mat-raised-button color="primary" (click)="joinGame()">
    Tham gia chơi
  </button> -->

  <button mat-raised-button color="primary" (click)="scanQR()" *ngIf="!startScanning">
    Tham gia chơi
  </button>

  <div *ngIf="startScanning" class="scan-overlay">
    <div class="scan-box"></div>
    
    <button mat-raised-button color="primary" (click)="stopScanQR()" *ngIf="startScanning">
      Huỷ
    </button>
  </div>

  <form *ngIf="showJoinGame" class="add-player-form" (ngSubmit)="confirmJoinGame()">
    <mat-form-field appearance="outline" class="add-player-input" [subscriptSizing]="'dynamic'">
      <mat-label>Game ID</mat-label>
      <input matInput [(ngModel)]="joinGameCode" name="joinGameCode" required [ngModelOptions]="{standalone: true}" />
    </mat-form-field>
    <div class="add-player-actions">
      <button mat-raised-button color="primary" type="submit">Tham gia</button>
      <button mat-raised-button color="warn" type="button" (click)="cancelJoinGame()">Hủy</button>
    </div>
  </form>
</div>