.start-container {
  height: calc(100vh - 32px);
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  gap: 12px;

  background: url('/assets/images/Login.svg') no-repeat center center;
  background-size: cover;

  background-color: #F2F2F7;

  button {
    width: 200px;
    font-weight: 400;
    font-size: 14px;
    font-family: "SF Pro", sans-serif;

    &:nth-child(1) {
      background-color: #FF383C;
      color: white;
    }
    &:nth-child(2) {
      background-color: #FF383C24;
      color: #FF383C;
    }
  }
}

.add-player-form {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-direction: column;
  width: 100%;

  .add-player-input {
    width: 80%;
  }

  .add-player-actions {
    display: flex;
    gap: 8px;
  }
}


// This class is applied to the ion-content's parent when scanning begins
// It ensures the overlay is positioned correctly over the camera view.
:host(.scanner-active) {
  .scan-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  // The visual scanning window
  .scan-box {
    width: 500px;
    height: 500px;
    box-shadow: 0 0 0 4000px rgba(0, 0, 0, 0.3); // This darkens the area outside the box
    background: transparent;

    margin-bottom: 24px;
  }
}