.setup-container {
  padding: 16px !important;

  .mdc-card {
    background: transparent !important;
    border: unset !important;
    box-shadow: unset !important;

    .mat-mdc-card-title {
      font-family: SF Pro;
      font-weight: 600;
      font-size: 17px;
      line-height: 22px;

      letter-spacing: 1.2px;
    }

    .mat-mdc-card-subtitle {
      font-family: SF Pro;
      font-weight: 400;
      font-size: 17px;
      line-height: 22px;
      letter-spacing: 1.2px;
    }
  }
}


.player-field {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

::ng-deep .player-input, ::ng-deep .bank-input {
  flex: 1;
  width: 100%;
  height: 52px;

  .mdc-line-ripple {
    display: none !important;
  }
}

::ng-deep .player-input {
  .mdc-text-field {
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
  }
}

::ng-deep .bank-input {
  .mdc-text-field {
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
  }
  
}

.action-row {
  display: flex;
  justify-content: space-around;
  align-items: center;

  button {
    width: 100%;
    height: 50px;

    background-color: #FF383C;
    color: white;
  }
}

.players-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

::ng-deep .mat-divider {
  position: absolute;
  border-top-color: rgba(60, 60, 67, 0.3) !important;
  border-top-width: 2px !important;
  width: 80%;
  left: 10%;
  top: 50%;
  z-index: 1;
}

.setup-content {
  display: flex;
  flex-direction: column;
  margin: 34px 0px;

  position: relative;
}

.input-field::placeholder, mat-label {
  font-family: "SF Pro";
  font-weight: 510 !important;
  font-size: 17px;
  color: rgba(60, 60, 67, 0.3) !important;
}

/* This is your custom panel class */
::ng-deep .custom-dialog-panel {
  .mat-mdc-dialog-surface {
    background-color: rgba(255, 255, 255, 0.7) !important;
  }
}