.setup-container {
  padding: 16px !important;
}

.player-field {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.player-input {
  flex: 1;
}

.action-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.players-list {
  margin-top: 32px;
  
  display: flex;
  flex-direction: column;
  gap: 16px;
}