<div class="setup-container">
  <mat-card>
    <mat-card-title [ngStyle]="{'padding': '8px'}">Thiết lập người chơi</mat-card-title>
    <mat-card-content>
      <form [formGroup]="playerForm">
        <div formArrayName="players">
          <div
            *ngFor="let playerCtrl of players.controls; let i = index"
            class="player-field"
          >
            <mat-form-field appearance="outline" class="player-input">
              <mat-label>Tên người chơi {{ i + 1 }}</mat-label>
              <input matInput [formControlName]="i" />
              <mat-error *ngIf="playerCtrl.hasError('required')">
                Vui lòng nhập tên.
              </mat-error>
            </mat-form-field>

            <button
              mat-icon-button
              color="warn"
              (click)="removePlayer(i)"
              *ngIf="players.length > 2"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </form>
      <button mat-button color="primary" (click)="addPlayer()">
        <mat-icon>add</mat-icon> Thêm người chơi
      </button>
    </mat-card-content>
    <mat-card-actions class="action-row">
      <button
        mat-raised-button
        color="accent"
        (click)="submit()"
      >
        Bắt đầu trận
      </button>
    </mat-card-actions>
  </mat-card>
</div>
