<div class="setup-container">
  <mat-card>
    <mat-card-title [ngStyle]="{'padding': '16px'}">Thiết lập người chơi</mat-card-title>
    <mat-card-content class="setup-content">
      <form [formGroup]="playerForm">
        <div class="players-list">
          <mat-form-field appearance="outline" class="player-input" subscriptSizing="dynamic">
            <mat-label>Tên người chơi</mat-label>
            <input matInput [formControlName]="'player'" />
            <mat-icon matSuffix (click)="editProfile()" style="color: #005cbb;">edit</mat-icon>
          </mat-form-field>
        </div>
      </form>
      <mat-form-field appearance="outline" class="player-input" subscriptSizing="dynamic">
        <mat-label>Đơn vị</mat-label>
        <input matInput [currencyMask]="{ prefix: '', suffix: ' VNĐ', precision: 0 }" [ngModel]="gameUnit | async" (ngModelChange)="gameUnit = $event"/>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions class="action-row">
      <button mat-raised-button color="warn" (click)="cancel()">
        Cancel
      </button>
      <button mat-raised-button color="accent" (click)="submit()">
        {{ isServerMode ? 'Bắt đầu trận' : 'Tham gia trận đấu' }}
      </button>
      <!-- <button
        mat-raised-button
        color="accent"
        (click)="view()"
      >
        Xem trận đấu
      </button> -->
    </mat-card-actions>
  </mat-card>
</div>