.app-container {
    padding-top: 32px;
}

.spinner-overlay {
  /* Define your custom property here */
  --active-indicator-color: #FF383C; 
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  backdrop-filter: blur(4px);
}

:host ::ng-deep .apple-spinner .mdc-circular-progress__determinate-circle,
:host ::ng-deep .apple-spinner .mdc-circular-progress__indeterminate-circle-graphic {
  /* Use the variable here */
  stroke: var(--active-indicator-color) !important;

  stroke-width: 8px !important;
  stroke-linecap: round !important;
}

::ng-deep .cdk-overlay-container {
  z-index: 9999 !important;
}