<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Billiard Score.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>2F32780106C61DEC814AE1786B5130ED3889DD66</string>
				<key>dateExpires</key>
				<string>25/7/26</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2F32780106C61DEC814AE1786B5130ED3889DD66</string>
						<key>dateExpires</key>
						<string>25/7/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Capacitor.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4DKKR75KL5</string>
						<key>name</key>
						<string>VU VIET ANH TUAN</string>
					</dict>
					<key>versionNumber</key>
					<string>7.4.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2F32780106C61DEC814AE1786B5130ED3889DD66</string>
						<key>dateExpires</key>
						<string>25/7/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorCamera.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4DKKR75KL5</string>
						<key>name</key>
						<string>VU VIET ANH TUAN</string>
					</dict>
					<key>versionNumber</key>
					<string>7.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2F32780106C61DEC814AE1786B5130ED3889DD66</string>
						<key>dateExpires</key>
						<string>25/7/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorCommunityBarcodeScanner.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4DKKR75KL5</string>
						<key>name</key>
						<string>VU VIET ANH TUAN</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2F32780106C61DEC814AE1786B5130ED3889DD66</string>
						<key>dateExpires</key>
						<string>25/7/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorCommunityMedia.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4DKKR75KL5</string>
						<key>name</key>
						<string>VU VIET ANH TUAN</string>
					</dict>
					<key>versionNumber</key>
					<string>8.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2F32780106C61DEC814AE1786B5130ED3889DD66</string>
						<key>dateExpires</key>
						<string>25/7/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorFilesystem.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4DKKR75KL5</string>
						<key>name</key>
						<string>VU VIET ANH TUAN</string>
					</dict>
					<key>versionNumber</key>
					<string>7.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2F32780106C61DEC814AE1786B5130ED3889DD66</string>
						<key>dateExpires</key>
						<string>25/7/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Cordova.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4DKKR75KL5</string>
						<key>name</key>
						<string>VU VIET ANH TUAN</string>
					</dict>
					<key>versionNumber</key>
					<string>7.4.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2F32780106C61DEC814AE1786B5130ED3889DD66</string>
						<key>dateExpires</key>
						<string>25/7/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>IONFilesystemLib.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4DKKR75KL5</string>
						<key>name</key>
						<string>VU VIET ANH TUAN</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2F32780106C61DEC814AE1786B5130ED3889DD66</string>
						<key>dateExpires</key>
						<string>25/7/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4DKKR75KL5</string>
						<key>name</key>
						<string>VU VIET ANH TUAN</string>
					</dict>
					<key>versionNumber</key>
					<string>5.21.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>4DKKR75KL5.com.tuanvva3.billiard-score</string>
				<key>com.apple.developer.team-identifier</key>
				<string>4DKKR75KL5</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Billiard Score.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>932d98da-23ee-4899-96d1-37c4f971282e</string>
				<key>dateExpires</key>
				<string>25/7/26</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.tuanvva3.billiard-score</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>4DKKR75KL5</string>
				<key>name</key>
				<string>VU VIET ANH TUAN</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
