/* src/styles.scss or src/styles.css */
@font-face {
  font-family: 'SF Pro';
  /* Choose a descriptive name */
  src: url('assets/fonts/SFPRODISPLAYREGULAR.OTF') format('opentype');
  /* Adjust path and filename */
  font-weight: 400;
  /* Adjust weight as needed for different font files */
  font-style: normal;
}

/* Repeat for other SF Pro weights/styles if needed (e.g., Bold, Light) */
@font-face {
  font-family: 'SF Pro bold';
  src: url('assets/fonts/SFPRODISPLAYBOLD.OTF') format('opentype');
  font-weight: 700;
  font-style: normal;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "SF Pro", sans-serif;
}

.mat-card {
  max-width: 600px;
  margin: 16px auto;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "SF Pro", sans-serif;
}


.blurred-backdrop {
  // backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.3);
}