<h2 mat-dialog-title>
  {{ isViewMode ? 'Sửa Ván Đấu' : 'Thêm Ván Đấu' }}
</h2>
<mat-dialog-content [formGroup]="form" class="add-game-dialog-content">
  <mat-form-field class="full-width" appearance="outline" subscriptSizing="dynamic">
    <mat-label>Chọn người thắng:</mat-label>
    <mat-select formControlName="winner">
      @for (player of players; track player) {
        <mat-option [value]="player.id">{{player.name}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <ng-container *ngIf="form.value?.winner !== null && form.value?.winner !== undefined">
    <form [formGroup]="losersForm">
      <p class="loser-title"><strong>Nhập điểm cho từng người chơi:</strong></p>
      <div *ngFor="let idx of sortedPlayerIndexes" class="player-panel">
        <mat-accordion>
          <mat-expansion-panel [expanded]="panelOpenState() === idx" (opened)="togglePanel(idx)">
          <mat-expansion-panel-header>
            <mat-panel-title> {{ players[idx].name }} </mat-panel-title>
            <mat-panel-description>
              {{ totalPoints[idx]}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="player-row">
            <mat-form-field appearance="outline" class="tiles-input">
              <mat-label>Số lá còn lại</mat-label>
              <input matInput type="number" [formControl]="remainingForm(idx)" pattern="[0-9]*"/>
            </mat-form-field>
            <div class="extended-per-player" [formGroup]="extendedForm(idx)">
              <!-- Common Points Row (always visible) -->
              <div class="extended-row">
                <mat-form-field appearance="outline" class="extended-input">
                  <mat-label>Điểm chung</mat-label>
                  <input matInput type="number" formControlName="commonPoints" pattern="[0-9]*"/>
                </mat-form-field>
              </div>
              <!-- Penalty Points Row (always visible) -->
              <div class="extended-row">
                <div class="penalty-payers-list">
                  <div *ngFor="let payerCtrl of getPenaltyPayersFormArray(idx).controls; let j = index">
                    <mat-form-field appearance="outline" class="penalty-amount-input" *ngIf="idx !== j">
                      <mat-label>Điểm {{ players[j].name }} đền</mat-label>
                      <input matInput type="number" [formControl]="penaltyControl(payerCtrl, 'amount')" pattern="[0-9]*"/>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
        </mat-accordion>
      </div>
    </form>
  </ng-container>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Hủy</button>
  <button mat-raised-button color="primary" (click)="save()">
    {{ isEditMode ? 'Lưu' : 'Cập nhật' }}
  </button>
</mat-dialog-actions>